.container {
  width: 80%;
  margin: 0 auto;
  max-width: 666px;
  margin-bottom: 20px;
}

.paragraphElement {
  font-family: 'Montserrat', sans-serif;
}

.paywallContainer {
  border: solid white 1px;
  background-color: rgb(88, 88, 88);
  border-radius: 8px;
  padding: 0 8px;
  margin-bottom: 8px;
}

.paywallBtn {
  border: solid black 1px;
  background-color: blanchedalmond;
  padding: 0 2px;
  border-radius: 8px;
  color: black;
}

.paywallBtn:hover {
  background-color: rgb(115, 107, 94);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}
