.manifestoIndexContainer {
  padding: 8px;
}

.daysList {
  flex-direction: column;
  display: flex;
  height: 333px;
  flex-wrap: wrap;
}

.manifestoTitleText {
  width: 40%;
  margin: 0 auto;
}

.circlesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 666px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .manifestoTitleText {
    width: 90%;
  }
}
